{% extends 'base.html.twig' %}
{% block content %}

<h1 class="mb-3">{{ nom }}</h1>


<h5 class="mb-3">Pays : {{ country }}</h5>

<p class="mb-1">Longitude : {{ longitude }}</p>
<p>Latitude : {{ latitude }}</p>

<p>Tu te demandes bien à quoi servent ces données hein !!</p>

<form method="POST" action="iataController.php">
  <button type="submit" class="btn btn-primary">Prochaine étape ?</button>
</form>
{% endblock %}