{% extends 'base.html.twig' %}
{% block content %}



<div class="container align-items-center">
<h2>{{ title }}</h2>

  <div class="row mx-auto mt-5 mb-4">

<form method="POST" action="src/nameController.php">
  <div class="mb-3">
    <label for="nom" class="form-label">Nom de la ville : </label>
    <input type="text" class="form-control" id="nom" name="nom" aria-describedby="emailHelp">
  </div>

  <button type="submit" class="btn btn-primary">S'envoler</button>
</form>
<div>
<p class="text-danger text-bold">Chose importante : Paris possède 2 aéroports de l'autre bout de la ville, si tu mets Paris tu vas tomber sur un aéroport particulier, le code iata de charle de gaulles est CDG et Orly ORY
</p>
</div>
</div>


</div>


{% endblock %}

